body { background: #841252; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 26px; display: flex; }
.block-order-0 { color: #8dd38d; font-size: 12px; margin-bottom: 5px; }
.block-database-1 { color: #a80dc9; font-size: 16px; margin-bottom: 5px; }
.block-uploader-2 { color: #588b27; font-size: 13px; margin-bottom: 5px; }
.block-search-3 { color: #9ef2b3; font-size: 13px; margin-bottom: 5px; }
.block-logger-4 { color: #228fbe; font-size: 18px; margin-bottom: 5px; }
.block-search-5 { color: #a89d00; font-size: 13px; margin-bottom: 5px; }
.block-database-6 { color: #370bbc; font-size: 18px; margin-bottom: 5px; }
.block-token-7 { color: #7371e8; font-size: 21px; margin-bottom: 5px; }
.block-product-8 { color: #1ac959; font-size: 18px; margin-bottom: 5px; }
.block-token-9 { color: #11497d; font-size: 16px; margin-bottom: 5px; }